{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}
    <main>
        <h2>Nos produits</h2>
        <a href="{{ path('app_product_new') }}">Ajouter un produit</a>
        {% if products %}
            <table>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>
                                <h3>{{ product.name }}</h3>
                            </td>
                            <td>
                                <p>Stock</p>  
                                <p>{{ product.stock }}</p>
                            </td>

                            <td>
                                <p>Prix</p>  
                                <p>{{ product.price }}</p>
                            </td>
                            <td>
                                <a href="{{path('app_product', { id : product.id })}}">Voir le produit</a>
                            </td>
                        </tr>       
                    {% endfor %}               
                </tbody>
            </table>  
        {% else %}
            <div>
                <p>Aucun produits trouvés</p>
            </div>
        {% endif %}    
    </main>
{% endblock %}
